body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.full {
  width: 100%;
  height: 100%;
}

.center {
  width: 40%;

  margin-left: 25%;
}

.darkmode {
  background-color: #121212;
  color: white;
}

h2 {
  color: #ffffff;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.badges img {
  margin: 5px;
}