.test {
    background-color: #121212 !important;
    width: 40% !important;
    color: white !important;
    margin-left: 25% !important;
    font-family: Arial, sans-serif !important;
    line-height: 1.6 !important;
}